.main-container-categoria-add {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.contenedorFooter-add-categoria {
    margin-top: auto;
    margin-bottom: 0; 
    width: 100%;
    background-color: var(--color-fondoLogin);
    color: var(--color-button);
    text-align: right;
    padding-right: 40px;
    border-radius: 60px 60px 0 0;
    z-index: 2;
}

.contenedorFooter-add-categoria .textoFooter2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 40px;
    text-align: right;
}

.main-container-categoria-add .contenedor-addCategoria {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    padding-left: 70px;
    padding-right: 70px;
}

.main-container-categoria-add .formulario-addCategoria {
    flex: 1;
    display: flex;
}

.main-container-categoria-add .imagen-addCategoria {
    flex: 1;
    align-items: center;
}

.main-container-categoria-add .nombreCategoria{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.main-container-categoria-add .nombreIngresadoCategoria{
    width: 60%;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 0%;
    border: 3px solid rgb(245, 243, 243);
}

.main-container-categoria-add .descripcionCategoria{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.main-container-categoria-add .descripcionIngresadaCategoria{
    width: 60%;
    height: 200px;
    margin-left: 73px;
    margin-right: 10px;
    border-radius: 0%;
    border: 3px solid rgb(245, 243, 243);
    resize: none;
}

.main-container-categoria-add .estadoCategoria{
    margin-top: 100px;
    margin-left: 35px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.main-container-categoria-add .comboOpcionesCategoria{
    width: 60%;
    height: 50px;
    margin-left: 85px;
    margin-right: 10px;
    border-radius: 0%;
    border: 3px solid rgb(245, 243, 243);

}

.main-container-categoria-add .fechaCreacionCategoria{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.main-container-categoria-add .fechaIngresadaCategoria{
    width: 60%;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 0%;
    border: 3px solid rgb(245, 243, 243);
}

.main-container-categoria-add .icono-Categoria {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    filter: none;
}

.main-container-categoria-add .iconoIngresadaCategoria {
    display: none;
}

.main-container-categoria-add .btn_subirIconoCategoria {
    background-color: var(--color-button); 
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.main-container-categoria-add .image-upload-container-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-categoria-add .image-preview-container-categoria {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-categoria-add .categoria-icono {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container-categoria-add .image-placeholder {
    text-align: center;
    color: #aaa;
    background-color: rgb(245, 243, 243);
    height: 200px;
    border: 2px dashed #ccc;
}

.main-container-categoria-add .btn_agregarCategoria {
    background-color: var(--color-button); 
    color: white;
    border: none;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}