.contenedor-addProduct{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    padding-left: 70px;
    padding-right: 70px;
}

.formulario-addProduct {
    flex: 1;
    display: flex;
}

.imagen-addProduct {
    flex: 1;
    align-items: center;
}

.nombre{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.nombreIngresado{
    width: 60%;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 0%;
    border: 7px solid rgb(245, 243, 243);
}

.descripcion{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.descripcionIngresada{
    width: 60%;
    height: 200px;
    margin-left: 77px;
    margin-right: 10px;
    border-radius: 0%;
    border: 7px solid rgb(245, 243, 243);
    resize: none;
}

.categoria{
    margin-top: 100px;
    margin-left: 35px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.comboOpciones{
    width: 60%;
    height: 50px;
    margin-left: 85px;
    margin-right: 10px;
    border-radius: 0%;
    border: 7px solid rgb(245, 243, 243);

}

.precio{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.precio-inputs{
    width: 60%;
    margin-left: 100px;
    margin-right: 10px;

}
.enteros, .decimales{
    width: 40%;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 0%;
    border: 7px solid rgb(245, 243, 243);
}

.imagen {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

.imagenIngresada{
    border-radius: 0%;
    margin-top: 20px;
}

/*cambiar el tamaño de la imagen*/
.producto-imagen {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 130px;
    margin-top: 40px;
}
.btn_agregarProducto {
    background-color: var(--color-button); 
    color: white;
    border: none;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 100px;
}

.contenedorFooter {
    bottom: 0; /* Alinea al final */
    width: 100%;
    background-color: var(--color-fondoLogin);
    color: var(--color-button);
    text-align: right;
    padding-right: 40px;
    border-radius: 60px 60px 0 0;
    z-index: 2;
}

.waves-background2 {
    position: fixed;
    top: 2%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/waves.png');
    z-index: -1;
}

.textoFooter2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 40px;
    text-align: right;
}
