.custom-breadcrumb {
    margin-top: 80px;
    display: flex;
    background-color: var(--color-fondoLogin);
    align-items: center;
    height: 40px;
    padding: 0 20px;
    width: 100%;
  }
  
  .separator {
    margin: 0 5px; 
  }
.custom-breadcrumb ol{
    list-style-type: none;
    display: flex;
    margin-left: 40px;
    font-weight: bold;
    color: var(--color-button);
}  

.breadcrumb-item{
  padding: 5px;
  color: var(--color-button);
}

.breadcrumb-link {
  color: var(--color-button); /* Utiliza la variable CSS para el color */
}

.custom-breadcrumb .breadcrumb-item .breadcrumb-link,
.custom-breadcrumb .breadcrumb-item a { /* Añade el selector 'a' también por si acaso */
  color: var(--color-button);
  text-decoration: none;
}

.custom-breadcrumb .breadcrumb-item .breadcrumb-link:hover,
.custom-breadcrumb .breadcrumb-item a:hover {
    color: var(--color-button);
    text-decoration: underline; 
}

@media screen and (max-width: 768px) {
    .custom-breadcrumb {
        margin-top: 60px;
        padding: 0 10px;
    }
    .custom-breadcrumb ol{
        margin-left: 20px;
    }
    .breadcrumb-item{
        padding: 5px;
        font-size: smaller;
    }

}


