.chart-container {
    width: 100%;
    height: 400px; /* Altura inicial de la gráfica */
  }
  
  @media only screen and (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px de ancho */
    .chart-container {
      height: 300px; /* Ajusta la altura para pantallas más pequeñas */
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho */
    .chart-container {
      height: 300px; /* Ajusta la altura para pantallas aún más pequeñas */
    }
  }