body{
    overflow-y: auto;
  }
  .contenedorCliente {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
  }
  
  .contenedorRojo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(221,107,107,1) 0%, rgba(219,84,84,1) 30%, rgba(176,24,24,1) 100%);
    color: white;
    text-align: center;
    height: 30vh;
    border-radius: 60px 60px 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    z-index: 1; 
  }
  
  .contenedorBlanco {
    display: block;
    justify-content: center; 
    align-items: center;
    position: relative;
    bottom: 0;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: var(--color-secundary);
    color: var(--color-button);
    padding: 20px;
    text-align: left; 
    border-radius: 60px 60px 0 0;
    z-index: 2;
   
  }
  .contenedorBlanco h1 {
    color: var(--color-textos);
    text-align: center;
    font-weight: bold;
    
  }
  
  .imagenPizza {
    position: absolute;
    top: 20vh; 
    margin-left: 57%; 
    z-index: 1; 
    width: 10vw;
    height: auto; 
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  }

  .seccionIniciativa {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: white;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
  }

  .seccionImagen {
    display: flex;
  }

  .seccionMensaje {
    margin-left: 100px;
  }

  .seccionTexto {
    justify-content: left;
    width: 60%;
    height: 200px;
  }

  .seccionTexto h1{
    color: #B01818;
    padding-left: 80px;
    display: inline-block;
    vertical-align: top;
  }
    
  .imagenBolsa {
    border-radius: 50%;
    z-index: 1;
      width: 400px; 
      height: 350px;
      filter: drop-shadow(
          0 0 10px rgba(0,0,0,0.5)
      );
  }

  .imagenSecundaria {
    border-radius: 50%;
      width: 150px; 
      height: 150px;
      margin-top: 25px;
      filter: drop-shadow(
          0 0 10px rgba(0,0,0,0.5)
      );
  }

  .imagenPrimaria {
    width: 200px; 
    height: 200px;
    z-index: 1;
    border-radius: 50%;
    margin-right: -40px;
    margin-left: -40px; /* ajusta según sea necesario */
  }

  .texto-seccionImagen {
    z-index: 1;
    position: absolute;
    background-color: #B01818;
    border-radius: 30px;
    margin-top: -40px;
    margin-left: -40px;
    height: 40px;
    width: 500px;
  }

  .texto-seccionImagen p{
    margin-top: 5px;
    color: white;
    text-align: center;

  }

  .textoIniciativa {
    width: 80%; /* ajusta el ancho según sea necesario */
    margin: 0 auto; /* esto centrará el div horizontalmente */
    text-align: justify; /* justifica el texto */
    }

    ul {
      list-style-type: disc; /* Establece el tipo de viñeta como puntos */
      /* Otras propiedades de estilo, como el tamaño y el color, pueden agregarse según sea necesario */
    }


  .waves-background2 {
    position: fixed;
    top: 2%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/waves.png');
    z-index: -1;
  }
  .textoTooGood,.textoToGo{
    font-size: 3.5rem;
    display: inline-block;
  }
  .textoTooGood{
    color: var(--color-primary);
    margin-right: 10px;
  }
  .textoToGo{
    color: var(--color-textos);
  }
  .subtexto{
    font-size: 1.2rem;
  }
  .textoImagen{
    margin-top: 30vh;
    display: block;
    margin-left: -40%;
  }
  .contenedorBlanco h1{
    margin-top: 30px;
  }
  .contenedorFooter {
    margin-top: 8%;
    bottom: 0;
    position:relative;
    width: 100%;
    background-color: var(--color-fondoLogin);
    color: var(--color-button);
    text-align: right;
    padding-right: 40px;
    border-radius: 60px 60px 0 0;
    z-index: 2;
  }
  
  .textoFooter2 {
    display: flex;
    justify-content: right; 
    align-items: center;
    height: 5%;
    padding-right: 40px;
    text-align: right;
   
  }

  .contenedorSlide {
    margin: 0 auto;
    width: 95%;
    border-radius: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative; /* Añade posición relativa */
  }

  .seccionPedido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 400px;
    border-radius: 60px;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    position: relative; 
    /* Establecer imagen de fondo */
    background-image: url('../images/paperbag.jpg');
    background-size: cover; /* Ajustar tamaño de la imagen al contenedor */
    background-position: center; /* Centrar la imagen */
}


  #reservaConfirmada {
    margin-top: 50px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px; /* Ajusta el espacio interior del subcuadro */
    border-radius: 60px;
    margin: 20px; /* Margen con respecto al contenedor principal */
    opacity: 1; 
  }

  
  
  #reservaConfirmada h1 {
    color: #B01818;
  }
  
  #reservaConfirmada ul {
    padding-left: 30px;
    width: 90%;
    text-align: justify;
    list-style-type: disc; /* Tipo de viñeta */
    color: black; /* Color del texto */
  }
  
  #reservaConfirmada li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  .cuadroTexto {
    width: auto;
    height: 500px;
    margin-right: -200px;
    margin-left: 20px;
    transition: opacity 0.5s ease-in-out;
  }

  .imagenProceso {
    border-radius: 30px;
    margin-top: 50px;
    width: 400px;
    height: 250px;
  }

  .contenedorLista {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }


.tituloCuadroTexto {
  display: flex;
}

.tituloCuadroTexto h1 {
  margin-left: 10px;
  display: inline-block;
}

.oculto {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.controles {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  border: none; /* Removemos el borde del botón */
}

.dot-radio {
    display: none;
}

.dot-radio:checked + label {
    background-color: #555;
}

#cliente-dot:checked ~ #cliente,
#negocio-dot:checked ~ #negocio {
    opacity: 1;
}

.custom-list {
  text-align: justify; /* justifica el texto */
  list-style-type: none; /* Esto quita las viñetas predeterminadas */
  padding-top: 1%;
  padding-left: 20px; /* Añade un espacio a la izquierda para el icono */
  width: 50%;
  
}

.custom-list li {
  background-image: url('../images/cheque.png');
  background-repeat: no-repeat;
  background-position: left center; /* Posiciona el icono a la izquierda del texto */
  padding-left: 25px; /* Ajusta el espacio entre el icono y el texto */
}

@media only screen and (max-width: 768px) {
  .seccionIniciativa {
    flex-direction: row; /* Vuelve a la dirección de fila en dispositivos grandes */
  }

  .seccionMensaje {
    flex: 1; /* Ocupa todo el ancho disponible */
    margin-right: 20px; /* Agrega espacio entre secciones */
    margin-bottom: 0; /* Elimina espacio inferior */
  }

  .seccionImagen {
    margin-left: -40px;
    flex: 1; /* Ocupa todo el ancho disponible */
    justify-content: flex-end; /* Alinea las imágenes al final en dispositivos grandes */
  }

  .texto-seccionImagen {
    margin-bottom: 0; /* Elimina espacio inferior */
  }

  .imagenSecundaria {
    width: 70px; /* Ajusta el tamaño de la imagen secundaria */
    height: 70px;
  }

  .imagenPrimaria {
    width: 90px; /* Ajusta el tamaño de la imagen primaria */
    height: 90px;
  }

  .textoIniciativa {
    width: 70%; /* Ancho reducido en dispositivos grandes */
  }

  .textoIniciativa p{
    font-size: 70%; /* Ancho reducido en dispositivos grandes */
  }

  .textoImagen {
    margin-top: 20vh; /* Ajuste para dispositivos más pequeños */
  }

  .imagenProceso {
    display: none;
  }

  .texto-seccionImagen {
    height: 80px;
    width: 15vh; /* Ajuste para dispositivos más pequeños */
  }

  .textoTooGood, .textoToGo {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente en dispositivos más pequeños */
  }

  .seccionTexto h1 {
    text-align: left;
    font-size: 1.5rem; /* Reducir el tamaño de la fuente en dispositivos más pequeños */
  }

  .subtexto {
    font-size: 1rem; /* Reducir el tamaño del subtexto en dispositivos más pequeños */
  }

  .fotoCliente img {
    width: 40px; /* Reducir el tamaño de la foto del cliente en dispositivos más pequeños */
    height: 40px;
  }

  .seccionPedido {
      height: 400px; /* Restaurar la altura para pantallas más grandes */
  }

  #reservaConfirmada {
      width: 80%; /* Restaurar el ancho para pantallas más grandes */
  }

  .comentario {
    margin-left: 30%;
    width: 60%; /* Restaurar el ancho para pantallas más grandes */
  }

  .imagenPizza {

      margin-left: 57%; /* Restaurar la posición para pantallas más grandes */
  }

  .imagenBolsa {
    width: 200px; /* Reducir el tamaño de la foto del cliente en dispositivos más pequeños */
    height: 200px;/* Restaurar la posición para pantallas más grandes */
  }
}
