@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #F0693E;
  --color-secundary: #E9E9E9;
  --color-button: #B01818;
  --color-fondoLogin: #cfcfcf;
  --color-textos:#595959;
}
.containerNegocio{
  overflow: hidden;
}


.containerNegocio input::placeholder {
    color: #6e6a6a; /* Cambia el color del placeholder */

}
  
.containerNegocio input:focus::placeholder {
    color: #4d4b4b; /* Cambia el color del placeholder cuando el input está enfocado */
}



.containerNegocio {
  margin-left: 15vh;
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  margin-top: 60px;
  align-items: flex-start;
  
}

.containerNegocio .loginForm2 {
  flex: 1;
  top: 10vh;
  padding: 30px 80px 80px 80px;
  border-radius: 40px 40px 0 0;
  height: 120vh;
  background-color: var(--color-fondoLogin);
  margin-bottom: 50vh;
  overflow-y: hidden;
  position: fixed;
}

.containerNegocio .input-box {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.containerNegocio input {
  border-radius: 15px;
  width: 80%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 16px;
  color: gray;
  padding: 20px 45px 20px 20px;
}


.containerNegocio .icon {
  position: absolute;
  right: 60px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-primary);
}

.containerNegocio #botonRegistro {
  margin: 30px;
  margin-top: -30%;
  height: 45px;
  width: 60%;
  background-color: var(--color-button);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
}
.containerNegocio #botonRegistro:hover{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(221,107,107,1) 0%, rgba(219,84,84,1) 30%, rgba(176,24,24,1) 100%);
}

.containerNegocio .forgot-password {
  margin-left: 10%;
  margin-top: -25px;
  display: flex;
  font-size: 14px;
}

.containerNegocio .forgot-password a {
  text-decoration: none;
  color: #595959;
}

.containerNegocio .ubicacionMovil {
  display: none;
  font-size: 14px;
  color: #595959;
  margin-top: -20px;
}

.containerNegocio .ubicacionMovil a {
  margin-left: 5px;
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

.containerNegocio .ubicacionMovil a:visited {
  color: var(--color-primary);
}

.containerNegocio .ubicacionMovil a:focus {
  outline: none; 
}

.containerNegocio .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(90deg, rgba(221,107,107,1) 0%, rgba(219,84,84,1) 30%, rgba(176,24,24,1) 100%);
  color: white;
  text-align: center;
  border-radius: 60px 60px 0 0;
  box-shadow: 0 0 30px rgba(0,0,0,0.5)
}
.containerNegocio .textoFooter {
    display: flex;
    justify-content: right; 
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: var(--color-secundary);
    color: var(--color-button);
    padding-right: 40px;
    text-align: right;
    border-radius: 60px 60px 0 0;
}

.containerNegocio .imagen {
    width: 500px; 
    height: 500px;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,0.5)
    );
}
.containerNegocio .waves-background {
    position: fixed;
    top: 2%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/waves.png');
    z-index: -1;
}

.containerNegocio .map-container {
    position: relative;
    width: 650px; /* Ancho de la hamburguesa */
    height: 650px; /* Altura de la hamburguesa */
    margin-top: -2vh;
    margin-left: 85vh;
    z-index: 1;
  }
  
  .containerNegocio .burger-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/siluetaburger4.png'); 
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  

  
  .containerNegocio .map-container .map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .containerNegocio .map-container .ubicacion {
    position: relative;
    top:18vh;
    margin-bottom: -25px;
    z-index: 1;
    padding: 0;
  }
  .containerNegocio .map-container .ubicacion p{
    color:#fff;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .containerNegocio .map-container .leaflet-container {
    top:22vh;
    left: 19vh;
    height: 350px;
    width: 400px;
    border-radius: 10px;
  }
  
.containerNegocio .password-container {
  margin-top: -20px;
  width: 90%;
  display: inline-flex;
  justify-content: center;
}

.containerNegocio .password-container .input-box:first-child input {
  margin-right: -20px;
}

.containerNegocio .password-container .input-box:last-child input {
  margin-left: -20px;
}

.containerNegocio .password-container input {
  width: 230px;
}


@media (max-width: 800px) {
  /* Ocultar las waves y la imagen */
  .waves-background,
  .imagenLogin {
    display: none;
  }

  /* Ajustes para el formulario en dispositivos móviles */
  .loginForm2 {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-fondoLogin);
    margin: 0 auto;
    max-width: 90%;
    position: fixed;
    top: 0;
    padding-top: 30px;
    left: 50%;
    bottom: -40%;
    transform: translate(-50%, 0); /* Centrar vertical y horizontalmente */
  }

  .input-box {
    margin: 15px 0; /* Espaciado entre los campos */
  }

  .containerNegocio input {
    width: 100%; 
    padding: 15px; 
    font-size: 16px;
    padding: 20px 45px 20px 20px;
  }
  .forgot-password{
    font-size: 12px;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 0;
  }
  #botonRegistro {
    margin: 20px 85; /* Espaciado */
  }

  .too-good,
  .to-go {
    font-size: 36px; /* Tamaño de fuente más pequeño */
  }
  .icon {
      position: absolute;
      right: 15px; /* Ajusta el valor según sea necesario */
      top: 40%; /* Centra verticalmente el icono */
      transform: translateY(-50%);
      font-size: 20px;
      color: var(--color-primary);
    }
    .textoFooter {
      font-size: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 25px;
  }

  .containerNegocio .password-container {
    margin-top: -20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--color-button);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
  width: 40px;
  height: 30px;
}

@media (max-width: 1366px) {
  /* Estilos para pantallas con resolución máxima de 1366px */
  .loginForm {
    padding: 60px 80px 60px 80px;
    height: 100vh; 
    margin-bottom: 0; 
    overflow-y: auto; 
  }

  .new-account {
    margin-top: 0; 
  }

  #botonRegistro {
    margin: 30px 0 10px; 
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(221,107,107,1) 0%, rgba(219,84,84,1) 30%, rgba(176,24,24,1) 100%);
    color: white;
    text-align: center;
    height: 15vh;
    border-radius: 60px 60px 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
  }
}
@media (max-width: 1280px) {
  /* Estilos para pantallas con resolución máxima de 1366px */
  .loginForm {
    padding: 8px 80px 50px 80px;
    height: 80vh; 
    margin-bottom: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .new-account {
    margin-top: 0; 
  }

  #botonRegistro {
    margin: 30px 0 10px; 
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(221,107,107,1) 0%, rgba(219,84,84,1) 30%, rgba(176,24,24,1) 100%);
    color: white;
    text-align: center;
    height: 15vh;
    border-radius: 60px 60px 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
  }
}
